# Python / uv / Virtual Environments
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ambientes e Segredos (NUNCA subir pro GitHub)
.env
.env.local

# Node / Vite / React
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker / Logs
*.log
docker-data/
